body{ 
    margin: 0; 
    padding: 0; 
}

.container{
    display: block;
    margin: 10px;
}

div.column{
    display: inline-block;
    width: auto;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.center{
    position: relative;
}

button{
    background-color: steelblue;
    border: 1px solid teal;
    border-radius: 4px;
    color: white;
    padding: 18px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

    transition-duration: 0.3s;
}

button:hover{
    background-color: white;
    color: black;
}

#headline{
    margin-top: 0;
    text-align: center;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size:100%;
    color: white;
    height: 150px;
    vertical-align: middle;
}

h1{
    padding-top: 40px;
}